<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add Employee Form</title>
	<link rel="stylesheet" type="text/css" th:href="/css/main.css" />
</head>

<body>
	<div id="global">
		<form modelAttribute="employee" action="employee_save" method="post">
			<fieldset>
				<legend>Add an employee</legend>
				<p>
					<!-- <errors name="*" cssStyle="color : red;" /> -->
				</p>
				<p>
					<label for="id">ID: </label>
					<input name="id" id="id" th:value="${id}"/>
					<div style="text-align: center;">
						<!-- <errors name="id" cssStyle="color : red;" /> -->
					</div>
				</p>
				<p>
					<label for="firstName">First Name: </label>
					<input name="firstName" id ="firstName" th:value="${firstName}" />
					<div style="text-align: center;">
						<!-- <errors name="firstName" cssStyle="color : red;" /> -->
					</div>
				</p>
				<p>
					<label for="lastName">Last Name: </label>
					<input name="lastName" id ="lastName" th:value="${lastName}" />
					<div style="text-align: center;">
						<!-- <errors name="lastName" cssStyle="color : red;" /> -->
					</div>
				</p>

				<p>
					<label for="birthDate">Date Of Birth: </label>
					<input name="birthDate" id="birthDate" />
					<!-- <errors name="birthDate" cssStyle="color : red;" /> -->
				</p>
				<p>
					<label for="salaryLevel">Salary: </label>
					<input name="salaryLevel" id="salaryLevel" />
					<div style="text-align: center;">
						<!-- <errors name="salaryLevel" cssStyle="color : red;" /> -->
					</div>
				</p>
				<h4>Address:</h4>
				<p>
					<label for="street">Street: </label>
					<input name="address.street" id="street" />
					<div style="text-align: center;">
						<errors name="address.street" cssStyle="color : red;" />
					</div>
				</p>
				<p>
					<label for="state">State: </label>
					<input name="address.state" id="state" />
					<div style="text-align: center;">
						<errors name="address.state" cssStyle="color : red; " />
					</div>
				</p>
				<p>
					<label for="zipCode">Zip: </label>
					<input name="address.zipCode" id="zipCode" />
					<div style="text-align: center;">
						<errors name="address.zipCode" cssStyle="color : red; " />
					</div>
				</p>
				<p id="buttons">
					<input id="reset" type="reset" tabindex="4">
					<input id="submit" type="submit" tabindex="5" value="Add Employee">
				</p>
			</fieldset>
			</form>
	</div>
</body>

</html>